<div class="modal fade" id="printOptionsModal" tabindex="-1" aria-labelledby="printOptionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex;">
                    <h5 class="modal-title" id="printOptionsModalLabel">Select Print Option</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary w-100 mb-2" id="firstSemesterOption">First Semester</button>
                <button class="btn btn-secondary w-100 mb-2" id="secondSemesterOption">Second Semester</button>
                <button class="btn btn-success w-100" id="bothSemestersOption">Both Semesters</button>
            </div>
        </div>
    </div>
</div>
